*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', "sans-serif";
}

html{
  background-color: white;
  color:#555;
  font-family: "Montserrat", "sans-serif";
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
header{
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, .95),rgba(255, 255, 255, .8)),url("../img/ceubg.jpg");
  background-position: center;
  background-size: cover;
}
.navbar{
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow:0px 0.5px 5px #000;
  -moz-box-shadow:0px 0.5px 5px #000;
   box-shadow:0px 0.5px 5px #000;
  animation: nav-load var(--nav-load-time) ease-in;
}

.logo{
  height: 50px;
}

.fab{
  color:#24125f;
}

.navbar-nav{
  text-align: right;
}

.head-text{
  float: right;
}

.logo2{
  height: 100px;
  width: 100%;
}
select{
  width: 100%;
}
.row-1{
  border-radius: 5px;
  border-collapse: collapse;
  box-shadow: 0 0 5px .1px #000;
  background-color: #fff;
}
